@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.burger_icon {
  .btn {
    display: flex;
    background-color: transparent;
    border: none;
    z-index: 6;
    position: absolute;
    top: 50px;
    right: 30px;
  }
}

.burger_menu_content {
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  flex-direction: column;
  background-color: $primary__font__color;
  text-align: center;
  position: absolute;
  width: 100%;
  min-height: 65vh;
  overflow: hidden;


  .burger_links__container {
    gap: 20px;
    list-style-type: none;
    height: 400px;
    font-size: 18px;

    .burger_links__list {
      @include flex(flex, flex-start, flex-start, column);
      gap: 40px;
      margin-left: 50px;
      list-style-type: none;
      position: relative;
      li {
        @include font($secondary__font__family, 400, 16px, 19px, $burger__menu__font__color);
        &:hover {
          color: $accent__color;
          font-weight: 700;
        }
      }
    }
  }

  .dropdown_block {

    @include flex(flex, center, flex-end);
    height: 137px;
    list-style-type: none;
    gap: 20px;
  }

  .social {
    @include flex(flex, center, center);
    width: 68px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.08);;
    &:hover {
      border: 1px solid $header_socials__border__color;;
    }
    @media screen and (max-width: 750px) {
      width: 58px;
      height: 40px;
    }
  }
}

.burger_show {
  display: flex;
  max-height: 400px;
}



