@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.burger_icon {
    display: inline-block;

    .btn {
        background-color: transparent;
        border: none;
        color: blue;
    }
}

.burger_menu_content {
    top: 80px;
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    text-align: center;
    position: absolute;
    width: 100%;


    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease, opacity 0.35s ease;

    .burger_list {
        @include flex(flex, center, center, column);
        gap: 20px;
        list-style-type: none;
        height: 400px;
        font-size: 18px;

        a {
            cursor: pointer;

            .active {
                color: $primary-color;
            }

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.burger_show {
    opacity: 1;
    max-height: 400px;
}



