@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.advantages {
  min-height: 90vh;
  display: flex;

  .container {
    @include flex(flex, center, center);
    width: 100%;
    max-width: 1300px;
    margin: auto;

    .advantages_list {

      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .advantages_list__item {
        border: 1px solid #EDEDED;
        @include flex(flex, center, center, column);
        flex-basis: calc(33.33% - 40px);
        width: calc(33.33% - 40px);

        height: 300px;
        padding: 50px;

        box-sizing: border-box;
        position: relative;
        transition: transform 0.5s ease;

        &:hover {
          -webkit-box-shadow: 0 0 20px 3px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0 0 20px 3px rgba(34, 60, 80, 0.2);
          box-shadow: 0 0 20px 3px rgba(34, 60, 80, 0.2);
        }
        &:hover .advantages_list__item__content {
          transform: translateY(-50px);

        }

        .advantages_list__item__content {
          @include flex(flex, center, center, column);

          gap: 30px;
          transition: transform 0.5s ease;
        }


        &:hover .advantages_list__item__description {
          opacity: 1;

        }
        .advantages_list__item__title {
          @include font($primary-font-family, 400, 20px, 25px, $primary-font-color);

        }
        .advantages_list__item__description {
          @include font($primary-font-family, 400, 16px, 26px, #646464);
          transition: display 0s linear 0.3s, opacity 0.3s ease;
          text-align: center;
          position: absolute;
          bottom: 20px;
          left: 0;
          opacity: 0;
        }
      }
    }
  }
}





