@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.header {
  width: 100%;
  min-height: 15vh;
  @include flex(flex, center, center);
  @media screen and (max-width: 1230px) {
    min-height: 10vh;
  }

  .container {
    @include flex(flex, center, center);
    width: 100%;

    .header__row {
      @include flex(flex, center, center);
      gap: 100px;
      @media screen and (max-width: 1230px) {
        @include flex(flex, space-between, center);
        width: 100%;
        margin: 0 40px;
      }

      .header__logo {
        width: 115px;
        height: 25px;
      }

      .header__nav {
        .header__nav__links {
          display: flex;
          list-style-type: none;
          gap: 70px;

          .header__nav__link {
            margin-bottom: -20px;
            cursor: pointer;

            a {
              text-decoration: none;
              color: $primary__font__color;
            }

            &::after {
              content: "";
              display: block;
              height: 2px;
              margin-top: 20px;
              transition: opacity .2s ease-in-out;
              opacity: 0;
              background-color: $accent__color;
            }

            &:hover::after {
              opacity: 1;
            }
          }
        }

        .header_socials__menu {
          position: relative;

          &:hover .dropdown {
            display: block;
            z-index: 10;
          }

          .dropdown_title {
            position: relative;
            color: $interactive__element__font__color;
            @include font($interactive__element__font__color, 500, 14px, 16px);

            .dropdown_icon {
              top: 6px;
              right: -15px;
              position: absolute;
              width: 5px;
              height: 4px;
            }
          }

          .dropdown {
            display: none;
            position: relative;

            .dropdown_block {
              @include flex(flex, center, center);
              position: absolute;
              background-color: $background__color;
              width: 173px;
              height: 137px;
              list-style-type: none;


              .social {
                @include flex(flex, center, center);
                width: 68px;
                height: 50px;
                border: 1px solid $header_socials__border__color;
              }
            }

            &:hover .dropdown_block {
              display: flex;
            }
          }

          .header_socials__menu {
            position: relative;
          }

          .dropdown_title {
            position: relative;
            color: $interactive__element__font__color;
            @include font($secondary__font__family, 500, 14px, 16px);


          }

          .dropdown {
            display: none;
            position: absolute;
          }

          .dropdown_block {
            @include flex(flex, center, center);
            position: absolute;
            background-color: $background__color;
            width: 173px;
            height: 137px;
            list-style-type: none;
          }

          .social {
            @include flex(flex, center, center);
            width: 68px;
            height: 50px;
            border: 1px solid $header_socials__border__color;

            .dropdown_icon {
              &:hover {
                fill: $primary__color;
              }
            }
          }
        }
      }
    }
  }
}

