@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';


.btn {
  background-color: $accent__color;
  @include flex(flex, center, center);
  padding: 20px 35px;
  border: 0;
  cursor: pointer;
  transition: background-color .3s ease;
  overflow: hidden;
  position: relative;

  &:disabled {
    background-color: $background__color;
  }

  span {
    @include font($primary__font__family, 700, 16px, 19px, $secondary__font__color);
    z-index: 5;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, #DC6D08 0%, #DC6D08 50%, $accent__color 50%, $accent__color 100%);
    transition: left .3s;
  }

  &:disabled:before {
    background: #C3C8C8;
  }

  &:hover:before {
    left: 0;
  }
}






