@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.modal {
  border: 2px solid red;
  @include flex(flex, center, center);
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  .modal__container {
    width: 70%;
    height: 90%;
    position: relative;
    @media screen and (max-width: 1100px) {
      width: 100%;
      height: 100%;
    }
    .modal__close {
      position: absolute;
      right: -81px;
      @media screen and (max-width: 1100px) {
        top: 30px;
       right: 30px;
      }
    }

    .modal__content__block {
      @include flex(flex, center);

      width: 100%;
      padding: 20px;
      background-color: $background__color;
      .modal__content {
        width: 80%;
        .modal__content__title {
          margin-top: 50px;
          margin-bottom: 50px;
          @include font($secondary__font__family, 700, 36px, 42px, #000000)
        }
      }
    }
    .form__submit__block {
      padding: 20px;
      @include flex(flex, space-around, center);
      border: 1px solid #F2F2F2;
      width: 100%;
      .checkbox__block {
        @include flex(flex, center, center);
        gap: 20px;
        .checkbox__icon__block {
          @include flex(flex, center, center);
          border-radius: 3px;
          width: 25px;
          height: 25px;
          background-color: $accent__color;
        }
        .form__condition > span {
          color: $interactive__element__font__color;
          cursor: pointer;
        }
      }
    }
  }
}

.form__field__row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.form__field {
  position: relative;
  width: 100%;
  margin-bottom: 30px;

  .form__input {
    background-color: #f2f2f2;
    color: #242627;
    padding: 0 28px;
    width: 100%;
    height: 70px;
    border: 1px solid transparent;

    &:focus {
      background-color: #fff;
      outline: none;
      border: 1px solid #E0E0E0;
    }

  }
  .input__error {
    border: 1px solid #BF1E2E;
  }
  .form__textarea {
    padding: 70px;
    overflow: hidden;
    resize: none;
  }
  .input__success__icon {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .input__label {
    @include font($primary__font__family, 400, 16px, 20px, #828282);
    position: absolute;
    pointer-events: none;
    left: 30px;
    right: 15px;
    top: 15px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .3s;
  }
  .input__label__file {
    position: relative;
    padding-top: 15px;
    width: 100%;
    max-width: 310px;
    height: 70px;
    display: block;
    text-align: center;
    color: $interactive__element__font__color;
    border-bottom: 1px solid #242627;
    overflow: hidden;
    text-overflow: ellipsis;

    .uploaded {
      color: #242627;
      display: flex;
      justify-content: center;
      gap: 5px;
    }
  }
  .delete__file_btn {
    border: none;
    outline: none;
    background-color: transparent;

  }
}







.form__input:focus ~ .input__label,
.form__input:not(:focus):invalid ~ .input__label {
  @include font($primary__font__family, 400, 13px, 26px, #828282);
  top: 5px;
}

.file {
  display: none;
}



.short__row {
  width: 70%;
}


.form__condition > span:last-child {
  margin-left: 5px;
}

.form__field:hover input::placeholder {
  opacity: 1;
}


.input__error__text {
  padding-left: 10px;
  @include font($primary__font__family, 400, 11px, 14px, #BF1E2E)
}