$background-color: #FFFFFF;
$primary-color: #003264;
$accent-color: #E9862A;

$primary-font-color: #242627;
$secondary-font-color: #FFFFFF;
$interactive-element-font-color: #187CD3;


$primary-font-family: 'Helios', sans-serif;
$secondary-font-family: 'HeliosC', sans-serif;
$interactive-element-font-family: 'Gilroy', sans-serif;
$interactive-element-font-family: #187CD3;

