$background__color: #FFFFFF;
$primary__color: #003264;
$accent__color: #E9862A;
$header_socials__border__color: #E0E0E0;

$primary__font__color: #242627;
$secondary__font__color: #FFFFFF;
$interactive__element__font__color: #187CD3;
$burger__menu__font__color: #fff;


$primary__font__family: 'Helios', sans-serif;
$secondary__font__family: 'HeliosC', sans-serif;
$interactive-element-font-family: 'Gilroy', sans-serif;


